* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.morning {
  background: linear-gradient(90deg, #7f7fd5, #86a8e7, #91eae4);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.day {
  background: linear-gradient(90deg, #ffefba, #ffffff);
  color: black;
  text-shadow: 1px 1px 2px white;
}

.evening {
  background: linear-gradient(90deg, #aa4b6b, #6b6b83, #3b8d99);
  color: white;
  text-shadow: 1px 1px 2px black;
}

.content {
  height: 100vh;
}

form {
  text-align: center;
}

img {
  max-width: 856px;
}

label {
  display: block;
  margin-bottom: 25px;
}

input {
  display: block;
  padding: 15px;
}

.fname-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 25px auto;
  text-shadow: none;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

/* img {
  position: absolute;
} */

p {
  position: absolute;
  color: white;
  text-shadow: 4px 4px 6px black;
  font-size: 30px;
}

.hidden {
  display: none;
}

.day-greet img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.evening-greet img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 420px) {
  body {
    font-size: 20px;
  }

  .morning-greet img {
    width: 100vw;
    height: 75vh;
    height: auto;
  }

  .day-greet img {
    width: 100vw;
    height: 75vh;
    border-radius: 10px;
  }

  .evening-greet img {
    width: 100vw;
    height: 75vh;
    height: auto;
  }
}

@media only screen and (min-width: 420px) and (max-width: 960px) {
  body {
    font-size: 25px;
  }

  .morning-greet img {
    width: 100%;
    height: auto;
  }

  .day-greet img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .evening-greet img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 960px) {
  body {
    font-size: 30px;
  }

  .morning-greet {
    height: 100vh;
  }

  .morning-greet img {
    width: 100vw;
    height: 80vh;
    height: auto;
  }

  .day-greet {
    height: 100vh;
  }

  .day-greet img {
    width: 100vw;
    height: 80vh;
    border-radius: 10px;
  }

  .evening-greet {
    height: 100vh;
  }

  .evening-greet img {
    width: 100vw;
    height: 80vh;
    height: auto;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
